<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Eatsy Delivery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--<link rel="stylesheet" href="assets/css/main.css" />-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">EATSY DELIVERY</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"></a>
									<div id="menu">
										<ul>
											<li><%= link_to "Home", root_path %></a></li>
											<li><%= link_to "Privacy and Returns", root_path %></a></li>                  
                                            <li><%= link_to "Contact Us", root_path %></a></li>
                                            <li><%= link_to "Order Form", order_index_path %></li>
                                            
                                           
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>EATSY DELIVERY</h2>
							<p>It's easy, Go Eatsy.
                                </p>
							<ul class="actions">
								<li><class="button special"><%= link_to "Order Now", order_index_path, class: "button special" %></a></li>
							</ul>
						</div>
					</section>

				<!-- One -->

			

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--<script src="assets/jquery.min.js"></script>
			<script src="assets/jquery.scrollex.min.js"></script>
			<script src="assets/jquery.scrolly.min.js"></script>
			<script src="assets/skel.min.js"></script>
			<script src="assets/util.js"></script>-->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<!--<script src="assets/main.js"></script>

	</body>
</html>