<header id="header">
						<h1><%= link_to "EATSY DELIVERY", root_path %></h1>
						
					

<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"></a>
									<div id="menu">
										<ul>
											<li><%= link_to "Home", root_path %></li>
											<li><%= link_to "Privacy and Returns", privacy_path %></li>                  
                                            <li><%= link_to "Contact Us", contact_path %></li>
                                            <li><%= link_to "Order Form", order_index_path %></li>
                                            
                                           
										</ul>
									</div>
								</li>
							</ul>
</nav>
</header>